{% extends 'base.html' %}
{% load static %}
{% static "media" as baseUrl %}
<!-- start of page -->
{% block content %}
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<input type="button"  style="margin-left:30px;" class="btn btn-outline-primary btn-rounded btn-md ml-4" onclick="printDiv('printableArea')" value="print certificate" />

<div id="printableArea" style="width: 60%;margin: 0 auto;padding: 20px;">
    <div style="width:1000px; height:700px; padding:20px; text-align:center; border: 10px solid #787878">
        <div style="width:950px; height:650px; padding:20px; text-align:center; border: 5px solid #787878">
               <span style="font-size:50px; font-weight:bold">Certificate of Completion</span>
               <br><br>
               <span style="font-size:25px"><i>This is to certify that</i></span>
               <br><br>
               <span style="font-size:30px"><b>{{fullname}}</b></span><br/><br/>
               <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
               <span style="font-size:30px"> <b> Home Patient Care </b> </span> <br/><br/>
               <span style="font-size:20px">with score of <br><b> {{score.percentage}} %</b></span> <br/><br/>
               <span style="font-size:25px"><i>dated</i></span><br>
              {{date}}
              <span style="font-size:30px"></span>
        </div>
    </div>
</div>

<script>
function printDiv(divName) {
     var printContents = document.getElementById(divName).innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
}
</script>
{% endblock %}