{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="container">
            <div class="row">
                         <!-- Grid column -->
                        {% for test in tests%}
                            {% if test.name == 'Pre-test' %}
                                {% if not pretest_done %}
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <form action="{% url 'test' %}" method='get'>
                                        <button type="submit" name="pk" value="{{test.pk}}" class="btn btn-outline-primary btn-rounded btn-md ml-4">
                                             take {{test.name}}</button>
                                    </form>

                                </div>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>

            <h1 align="center">Training Powerpoint and Videos</h1>
    <!-- Powerpoint -->
            <section>
                <div style="margin-bottom:50px" class="ppt">
                    <iframe src="{{powerpoint.ppt}}" frameborder="0"  width="100%" height="100%"></iframe>
                </div>
            </section>
            <hr><h1 style="text-align:center;margin-bottom:20px;margin-top:50px;"> Video(s)</h1><hr>
            {% for video in videos %}
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half" style="margin-bottom:20px">
                <iframe class="embed-responsive-item" src="{{video.video_link}}" allowfullscreen></iframe>
            </div>
            {% endfor %}

            <h1 style="text-align:center;margin-bottom:20px;margin-top:50px;">Take {{tests.1.module.name}} Test</h1><hr>
                    <div class="row">
                         <!-- Grid column -->
                        {% for test in tests%}
                            {% if test.name == 'Post-test' %}
                        <div class="col-lg-4 col-md-12 mb-4">
                            <form action="{% url 'test' %}" method='get'>
                                <button type="submit" name="pk" value="{{test.pk}}" class="btn btn-outline-primary btn-rounded btn-md ml-4">
                                    {{test.name}}</button>
                            </form>

                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
        </div>

{% endblock %}