{% extends 'base.html' %}
{% load static %}
{% static "media" as baseUrl %}
<!-- start of page -->
{% block content %}
{% if user.is_authenticated %}
{% if not pk and not score %}
        <!-- SHOW A LIST OF ALL THE TESTS -->
        <div class="container">
            {% for test in tests %}
                <div>
                    {% if test.pk in completed_pk_list %}
                        <h3>{{ test.module.name }}: {{test.name}}</h3>
                        <h4 style="color:gold">Test has been attempted and completed </h4>
                        <br>
                    {% else %}
                        <h3>{{ test.module.name }}: {{test.name}}</h3>
                        <br>
                    {% endif %}
                    <!-- Trigger the modal with a button -->
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal{{test.pk}}">Select</button>
                            <!-- Modal -->
                              <div class="modal fade" id="myModal{{test.pk}}" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      <h4 class="modal-title">{{ test.module.name }}: {{test.name}}</h4>
                                    </div>
                                    <div class="modal-body">
                                      <p>The difficulty is: {{test.Difficulty}}</p>
                                      <p>There are {{test.num_questions}} questions in this test </p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                            <div class="col-xs-6">
                                                <form action="{% url 'test' %}" method='get'>
                                                    <button type="submit" name="pk" value="{{test.pk}}" class="btn btn-primary">take {{test.name}}</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                  </div>

                                </div>
                              </div>


                </div>
                <hr>
            {% endfor %}

        </div>
{% endif%}

{% if score %}
    <div id="score-container">
        <div class="row">

            <div class="col-xs-6">
                <div class="score-circle">SCORE:
                    <div style="color:{{stats.pretest_completion.color}};">{{ score.percentage}} %</div>
                </div>
            </div>

            <div class="col-xs-6" style="margin-top:20px" >
                <div style="font-size:14px;text-align:center"><b>Your results:</b><hr>
                    <div>You got {{ score.score}}  out of {{score.num_questions}} questions right</div><br><br>
                    <div style="color:{{score.color}};">The score as percentage is:<b> {{ score.percentage}}%</b></div><br><br>
                    <div>{{score.message}}</div><hr>
                    {% if score.grade == 'pass' and completed == 'complete' %}
                    <div style="margin-top:10px;align:center;">
                        <form action="{% url 'certificate' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary btn-rounded btn-md ml-4" name='certificate' value="{{score}}">Get Certificate</button>
                        </form>
                    </div>
                    {% elif score.grade == 'fail' %}
                    <div style="margin-top:10px;align:center;">
                        <form action="{% url 'test' %}" method="get">
                            <button type="submit" class="btn btn-outline-primary btn-rounded btn-md ml-4" name='pk' value={{score.test}}>Retake Test</button>
                        </form>
                    </div>
                    {% else %}
                        <a href="{% url 'training'%}">
                            <button type="submit" class="btn btn-outline-primary btn-rounded btn-md ml-4" }>Go to Modules</button>
                        </a>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
    <!-- Put the test name-->
    {% if pk %}
        <h1 style="text-align:center">{{ test.module.name }}: {{test.name}}</h1>
    {% endif %}
    <form action="{% url 'test' %}" method="post">
        {% csrf_token %}
    <!-- for looP with test questions -->
        {% for question in questions %}
            <div class="questions">
                <div class="question"> {{ question.question}}</div><br>
                <label class="radio-container" for="{{question.optionA.1}}">"{{question.optionA.0}}"
                    <input type="radio" class="radio" id="{{question.optionA.1}}" name="{{question.name}}" value="{{question.optionA.0}}" required>
                    <span class="checkmark"></span>
                </label><br>

                <label class="radio-container" for="{{question.optionB.1}}">"{{question.optionB.0}}"
                    <input type="radio" id="{{question.optionB.1}}" name="{{question.name}}" value="{{question.optionB.0}}" required>
                    <span class="checkmark"></span>
                </label><br>

                <label class="radio-container" for="{{question.optionC.1}}">"{{question.optionC.0}}"
                    <input type="radio" id="{{question.optionC.1}}" name="{{question.name}}" value="{{question.optionC.0}}" required>
                    <span class="checkmark"></span>
                </label><br>

                <label class="radio-container" for="{{question.optionD.1}}">"{{question.optionD.0}}"
                    <input type="radio" id="{{question.optionD.1}}" name="{{question.name}}" value="{{question.optionD.0}}" required>
                    <span class="checkmark"></span>
                </label><br>
            </div>

        {% endfor %}
    {% if pk %}
        <button type="submit" name="test_submit" value="{{pk}}">Submit</button>
    {% endif %}
        </form>


</div>
{% else %}
<h1>Please Login</h1>
{% endif %}
{% endblock %}